<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.andrejilderda.harvest</string>
	<key>connections</key>
	<dict>
		<key>0113364C-D18F-4B1C-B082-9579BE03D03C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBF5E782-D12B-4359-A4EF-83F6217D9394</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>09486CA1-43C7-4848-96B4-788B51FC0742</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0A6E1FF-0297-4C8E-A114-C63A67C41C70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10A9385B-5D71-48E2-B646-4A04AEACC988</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0709F3E-C6AF-4080-A47D-A9CE8A2EB431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>175E5426-7F90-4B87-875D-79D48A250A40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A19C7560-4E10-4266-9C51-ED0FD18756CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26507ACC-53B4-41B3-BB13-369E9526206D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A9385B-5D71-48E2-B646-4A04AEACC988</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>312BEE9D-8202-4A6A-94DB-4B0EDF21CBCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A9385B-5D71-48E2-B646-4A04AEACC988</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4527DE0A-A0A1-4B8B-AECD-D59403110FAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>838953DB-B17F-4231-8081-972645959B0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A60C78B6-70F6-4D3A-91AB-E8AA1A4BC5A3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D181383-5500-4653-AD63-C5C9558A4E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F7FAE15-412F-4FA7-8F78-CD14A6A9FBCD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BD27885-AC87-4EF7-98CE-226F5763B797</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F7B814D-F8F3-43CA-B5E7-833ABE4BF2EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>517AB5D6-54BC-4934-B4E7-FB64EB91E791</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0709F3E-C6AF-4080-A47D-A9CE8A2EB431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53C8FEA0-BA4E-47E1-AE2D-2FFFD6247AC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B6F5697-9058-4949-AD01-9997864C51A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>10A9385B-5D71-48E2-B646-4A04AEACC988</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F7B814D-F8F3-43CA-B5E7-833ABE4BF2EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EA70050-3CCB-46A4-8E70-821AEF5E7B8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A60C78B6-70F6-4D3A-91AB-E8AA1A4BC5A3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>312BEE9D-8202-4A6A-94DB-4B0EDF21CBCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66B87F74-D220-42E2-ACD4-34829FE9910B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26507ACC-53B4-41B3-BB13-369E9526206D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69514FE5-98AF-4C7F-866F-F336EF17E951</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC08FC7F-F5A6-4644-8D5C-84A03EAEFD09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EA70050-3CCB-46A4-8E70-821AEF5E7B8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A9385B-5D71-48E2-B646-4A04AEACC988</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8081AC7B-0B05-4143-80E4-BAEB6ADDCBE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0709F3E-C6AF-4080-A47D-A9CE8A2EB431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A19C7560-4E10-4266-9C51-ED0FD18756CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8BD4C0F-6FE1-4808-87EC-951DB65A6F0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0A6E1FF-0297-4C8E-A114-C63A67C41C70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2B31BB7-F4E2-4BFF-9DC8-77F7366DF9EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4527DE0A-A0A1-4B8B-AECD-D59403110FAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>95216047-EA9F-4964-8D5E-C79FC9FADE40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC08FC7F-F5A6-4644-8D5C-84A03EAEFD09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0113364C-D18F-4B1C-B082-9579BE03D03C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D20F682-D9F7-4E8A-B796-D566688B4F12</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Go to setup instructions</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0709F3E-C6AF-4080-A47D-A9CE8A2EB431</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F6B3533-78FF-4E8A-9E00-01F023781E9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8BD4C0F-6FE1-4808-87EC-951DB65A6F0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>517AB5D6-54BC-4934-B4E7-FB64EB91E791</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBF5E782-D12B-4359-A4EF-83F6217D9394</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8081AC7B-0B05-4143-80E4-BAEB6ADDCBE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andre Jilderda</string>
	<key>description</key>
	<string>Control your Harvest timers directly from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Harvest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>0B6F5697-9058-4949-AD01-9997864C51A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification2}</string>
				<key>title</key>
				<string>{var:notification1}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1F6B3533-78FF-4E8A-9E00-01F023781E9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching available tasks...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-project-tasks.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Fetching tasks...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8BD4C0F-6FE1-4808-87EC-951DB65A6F0B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/start-project-task.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>517AB5D6-54BC-4934-B4E7-FB64EB91E791</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hvn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching Harvest projects...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-projects.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View available Harvest projects...</string>
				<key>title</key>
				<string>New: Start new timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A19C7560-4E10-4266-9C51-ED0FD18756CA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>175E5426-7F90-4B87-875D-79D48A250A40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>notification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>C0709F3E-C6AF-4080-A47D-A9CE8A2EB431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/update-task.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>10A9385B-5D71-48E2-B646-4A04AEACC988</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hvt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching today's timesheet...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-todays-timers.js "$1" "toggle"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View today's timesheet entries...</string>
				<key>title</key>
				<string>Toggle: Start / stop today’s timers</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53C8FEA0-BA4E-47E1-AE2D-2FFFD6247AC1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hva</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching today's timesheet...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-todays-timers.js "$1" "adjust"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View today's timesheet entries...</string>
				<key>title</key>
				<string>Adjust: Adjust task timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66B87F74-D220-42E2-ACD4-34829FE9910B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/adjust-timer.js "$1" "adjust-timer"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Adjust timer: {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>26507ACC-53B4-41B3-BB13-369E9526206D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>{var:taskClientName}, {var:taskName} ({var:taskHours})</string>
				<key>text</key>
				<string>Replace note: {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6EA70050-3CCB-46A4-8E70-821AEF5E7B8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hvnt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching today's timesheet...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-todays-timers.js "$1" "note"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View today's timesheet entries...</string>
				<key>title</key>
				<string>Note: Add task note</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4BD27885-AC87-4EF7-98CE-226F5763B797</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:overwriteNote}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>overwrite</string>
						<key>uid</key>
						<string>A60C78B6-70F6-4D3A-91AB-E8AA1A4BC5A3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>append</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5F7B814D-F8F3-43CA-B5E7-833ABE4BF2EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>{var:taskClientName}, {var:taskName} ({var:taskHours})</string>
				<key>text</key>
				<string>Add note: {var:taskNotes}{query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>312BEE9D-8202-4A6A-94DB-4B0EDF21CBCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>new</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>838953DB-B17F-4231-8081-972645959B0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:goTo}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>newTask</string>
						<key>outputlabel</key>
						<string>new</string>
						<key>uid</key>
						<string>A60C78B6-70F6-4D3A-91AB-E8AA1A4BC5A3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:goTo}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>setup</string>
						<key>outputlabel</key>
						<string>setup</string>
						<key>uid</key>
						<string>1F7FAE15-412F-4FA7-8F78-CD14A6A9FBCD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>bail</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4527DE0A-A0A1-4B8B-AECD-D59403110FAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist='https://raw.githubusercontent.com/andrejilderda/alfred-harvest/master/info.plist'
readonly workflow_url='andrejilderda/alfred-harvest'
readonly download_type='github_release'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95216047-EA9F-4964-8D5E-C79FC9FADE40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>setup</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5D181383-5500-4653-AD63-C5C9558A4E37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/store-credentials.js "$1"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8081AC7B-0B05-4143-80E4-BAEB6ADDCBE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string></string>
				<key>subtext</key>
				<string>Use API token: {query}</string>
				<key>text</key>
				<string>Enter your Harvest API token...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0113364C-D18F-4B1C-B082-9579BE03D03C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>setup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>69514FE5-98AF-4C7F-866F-F336EF17E951</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hvs</string>
				<key>subtext</key>
				<string>Required: Harvest API token (hold cmd for setup instructions)</string>
				<key>text</key>
				<string>Setup: Set Harvest credentials</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC08FC7F-F5A6-4644-8D5C-84A03EAEFD09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>token</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FBF5E782-D12B-4359-A4EF-83F6217D9394</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/andrejilderda/alfred-harvest#installation--setup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4D20F682-D9F7-4E8A-B796-D566688B4F12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://id.getharvest.com/harvest/sign_in?account_id={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F2B31BB7-F4E2-4BFF-9DC8-77F7366DF9EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hvl</string>
				<key>subtext</key>
				<string>Open your Harvest account in a browser</string>
				<key>text</key>
				<string>Launch: Open Harvest account</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>09486CA1-43C7-4848-96B4-788B51FC0742</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/get-account-id.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B0A6E1FF-0297-4C8E-A114-C63A67C41C70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Control your [Harvest](https://www.getharvest.com/) timers using Alfred.

## Features

- Start, stop and adjust timers
- Delete timers
- Add/append notes
- API token is stored in keychain (no password used for authenticating)
- Uses the latest Harvest API (v2)

## Setup instructions

To finalise the installation follow the instructions at:
https://github.com/andrejilderda/alfred-harvest#installation--setup

Enjoy!</string>
	<key>uidata</key>
	<dict>
		<key>0113364C-D18F-4B1C-B082-9579BE03D03C</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>09486CA1-43C7-4848-96B4-788B51FC0742</key>
		<dict>
			<key>note</key>
			<string>Visit Harvest account</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>1435</real>
		</dict>
		<key>0B6F5697-9058-4949-AD01-9997864C51A0</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>10A9385B-5D71-48E2-B646-4A04AEACC988</key>
		<dict>
			<key>note</key>
			<string>Update task</string>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>175E5426-7F90-4B87-875D-79D48A250A40</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>1F6B3533-78FF-4E8A-9E00-01F023781E9D</key>
		<dict>
			<key>xpos</key>
			<real>1470</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>26507ACC-53B4-41B3-BB13-369E9526206D</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>312BEE9D-8202-4A6A-94DB-4B0EDF21CBCF</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>4527DE0A-A0A1-4B8B-AECD-D59403110FAB</key>
		<dict>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>4BD27885-AC87-4EF7-98CE-226F5763B797</key>
		<dict>
			<key>note</key>
			<string>List today's timers</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>4D20F682-D9F7-4E8A-B796-D566688B4F12</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>1275</real>
		</dict>
		<key>517AB5D6-54BC-4934-B4E7-FB64EB91E791</key>
		<dict>
			<key>note</key>
			<string>Start project task</string>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>53C8FEA0-BA4E-47E1-AE2D-2FFFD6247AC1</key>
		<dict>
			<key>note</key>
			<string>List today's timers</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>5D181383-5500-4653-AD63-C5C9558A4E37</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>955</real>
		</dict>
		<key>5F7B814D-F8F3-43CA-B5E7-833ABE4BF2EF</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>66B87F74-D220-42E2-ACD4-34829FE9910B</key>
		<dict>
			<key>note</key>
			<string>List today's timers</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>69514FE5-98AF-4C7F-866F-F336EF17E951</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>6EA70050-3CCB-46A4-8E70-821AEF5E7B8B</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>8081AC7B-0B05-4143-80E4-BAEB6ADDCBE7</key>
		<dict>
			<key>note</key>
			<string>Store credentials</string>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>838953DB-B17F-4231-8081-972645959B0E</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
		<key>95216047-EA9F-4964-8D5E-C79FC9FADE40</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>955</real>
		</dict>
		<key>A19C7560-4E10-4266-9C51-ED0FD18756CA</key>
		<dict>
			<key>note</key>
			<string>List projects</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>B0A6E1FF-0297-4C8E-A114-C63A67C41C70</key>
		<dict>
			<key>note</key>
			<string>Get account id</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>1435</real>
		</dict>
		<key>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</key>
		<dict>
			<key>note</key>
			<string>Not setup yet or no timers started today</string>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>BC08FC7F-F5A6-4644-8D5C-84A03EAEFD09</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>C0709F3E-C6AF-4080-A47D-A9CE8A2EB431</key>
		<dict>
			<key>xpos</key>
			<real>1345</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>E8BD4C0F-6FE1-4808-87EC-951DB65A6F0B</key>
		<dict>
			<key>note</key>
			<string>List project tasks</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>F2B31BB7-F4E2-4BFF-9DC8-77F7366DF9EF</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>1435</real>
		</dict>
		<key>FBF5E782-D12B-4359-A4EF-83F6217D9394</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Store token</string>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>1150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>required</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Please enter your six-digit 'Account ID,' which you can obtain by creating an API token at https://id.getharvest.com/developers.</string>
			<key>label</key>
			<string>Harvest Account ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>account_id</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/andrejilderda/alfred-harvest</string>
</dict>
</plist>
