<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.andrejilderda.harvest</string>
	<key>connections</key>
	<dict>
		<key>0A547B3A-0DAF-4A66-9143-70DF21977BF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A26EEE56-3E2C-4CD3-BF0F-4CE2525CF909</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10A9385B-5D71-48E2-B646-4A04AEACC988</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41298D53-42B4-434F-BBB6-0A5CA8ACE342</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26507ACC-53B4-41B3-BB13-369E9526206D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A9385B-5D71-48E2-B646-4A04AEACC988</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>312BEE9D-8202-4A6A-94DB-4B0EDF21CBCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBE0C5A3-5BBE-4AD5-B1AB-74E31B243A6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4527DE0A-A0A1-4B8B-AECD-D59403110FAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E86AC480-AA7B-448C-AD5F-955BFF35D819</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A60C78B6-70F6-4D3A-91AB-E8AA1A4BC5A3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BD27885-AC87-4EF7-98CE-226F5763B797</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>312BEE9D-8202-4A6A-94DB-4B0EDF21CBCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F7AFFF4-E724-4B00-B7C1-2FE7A2DE88F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C54B474-C735-4821-AD9F-4A05DB67488A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>517AB5D6-54BC-4934-B4E7-FB64EB91E791</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C9D71E5-5317-4C7C-BF5A-C6208E2200D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53C8FEA0-BA4E-47E1-AE2D-2FFFD6247AC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A547B3A-0DAF-4A66-9143-70DF21977BF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66B87F74-D220-42E2-ACD4-34829FE9910B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26507ACC-53B4-41B3-BB13-369E9526206D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8081AC7B-0B05-4143-80E4-BAEB6ADDCBE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA7C946A-EDF1-4144-8039-F20AF8414652</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>025C086B-30F8-43AC-B27A-B6006C38D6A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C54B474-C735-4821-AD9F-4A05DB67488A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8081AC7B-0B05-4143-80E4-BAEB6ADDCBE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A19C7560-4E10-4266-9C51-ED0FD18756CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8BD4C0F-6FE1-4808-87EC-951DB65A6F0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4527DE0A-A0A1-4B8B-AECD-D59403110FAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBE0C5A3-5BBE-4AD5-B1AB-74E31B243A6F</key>
		<array/>
		<key>BC08FC7F-F5A6-4644-8D5C-84A03EAEFD09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBF5E782-D12B-4359-A4EF-83F6217D9394</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8BD4C0F-6FE1-4808-87EC-951DB65A6F0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>517AB5D6-54BC-4934-B4E7-FB64EB91E791</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBF5E782-D12B-4359-A4EF-83F6217D9394</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F7AFFF4-E724-4B00-B7C1-2FE7A2DE88F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andre Jilderda</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Harvest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching available tasks...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-project-tasks.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Fetching tasks...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8BD4C0F-6FE1-4808-87EC-951DB65A6F0B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/start-project-task.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>517AB5D6-54BC-4934-B4E7-FB64EB91E791</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching available Harvest projects...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-projects.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View available Harvest projects...</string>
				<key>title</key>
				<string>New: Start new timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A19C7560-4E10-4266-9C51-ED0FD18756CA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>5C9D71E5-5317-4C7C-BF5A-C6208E2200D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/update-task.js "$1" "toggle"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A547B3A-0DAF-4A66-9143-70DF21977BF4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ht</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching today's timesheet...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-todays-timers.js "$1" "toggle"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View today's timesheet entries...</string>
				<key>title</key>
				<string>Toggle: Toggle task timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53C8FEA0-BA4E-47E1-AE2D-2FFFD6247AC1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>A26EEE56-3E2C-4CD3-BF0F-4CE2525CF909</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>hn</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>E86AC480-AA7B-448C-AD5F-955BFF35D819</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:goTo}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>newTask</string>
						<key>outputlabel</key>
						<string>new</string>
						<key>uid</key>
						<string>A60C78B6-70F6-4D3A-91AB-E8AA1A4BC5A3</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>bail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4527DE0A-A0A1-4B8B-AECD-D59403110FAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ha</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching today's timesheet...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-todays-timers.js "$1" "adjust"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View today's timesheet entries...</string>
				<key>title</key>
				<string>Adjust: Adjust task timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66B87F74-D220-42E2-ACD4-34829FE9910B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/adjust-timer.js "$1" "adjust-timer"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Adjust timer: {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>26507ACC-53B4-41B3-BB13-369E9526206D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/update-task.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>10A9385B-5D71-48E2-B646-4A04AEACC988</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>41298D53-42B4-434F-BBB6-0A5CA8ACE342</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/update-task.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBE0C5A3-5BBE-4AD5-B1AB-74E31B243A6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>{var:taskClientName}, {var:taskName} ({var:taskHours})</string>
				<key>text</key>
				<string>Add note: {var:taskNotes}{query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>312BEE9D-8202-4A6A-94DB-4B0EDF21CBCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hnt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching today's timesheet...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/list-todays-timers.js "$1" "note"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View today's timesheet entries...</string>
				<key>title</key>
				<string>Note: Add task note</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4BD27885-AC87-4EF7-98CE-226F5763B797</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DA7C946A-EDF1-4144-8039-F20AF8414652</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/store-credentials.js "$1"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8081AC7B-0B05-4143-80E4-BAEB6ADDCBE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hs</string>
				<key>subtext</key>
				<string>Use token: {query}</string>
				<key>text</key>
				<string>Enter Harvest API token...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC08FC7F-F5A6-4644-8D5C-84A03EAEFD09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string></string>
				<key>subtext</key>
				<string>Use account id: {query}</string>
				<key>text</key>
				<string>Enter Harvest account id...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F7AFFF4-E724-4B00-B7C1-2FE7A2DE88F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>token</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FBF5E782-D12B-4359-A4EF-83F6217D9394</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>025C086B-30F8-43AC-B27A-B6006C38D6A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>account_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8C54B474-C735-4821-AD9F-4A05DB67488A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/launch-harvest.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Launch Harvest account in a browser</string>
				<key>title</key>
				<string>Launch: Visit Harvest account</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>227211EE-FA5C-4F14-AB24-7C4FB9416E54</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>025C086B-30F8-43AC-B27A-B6006C38D6A1</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>0A547B3A-0DAF-4A66-9143-70DF21977BF4</key>
		<dict>
			<key>note</key>
			<string>Toggle/delete task</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>10A9385B-5D71-48E2-B646-4A04AEACC988</key>
		<dict>
			<key>note</key>
			<string>Update task</string>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>227211EE-FA5C-4F14-AB24-7C4FB9416E54</key>
		<dict>
			<key>note</key>
			<string>List today's timers</string>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>1195</integer>
		</dict>
		<key>26507ACC-53B4-41B3-BB13-369E9526206D</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>312BEE9D-8202-4A6A-94DB-4B0EDF21CBCF</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>41298D53-42B4-434F-BBB6-0A5CA8ACE342</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>4527DE0A-A0A1-4B8B-AECD-D59403110FAB</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>4BD27885-AC87-4EF7-98CE-226F5763B797</key>
		<dict>
			<key>note</key>
			<string>List today's timers</string>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>4F7AFFF4-E724-4B00-B7C1-2FE7A2DE88F4</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>517AB5D6-54BC-4934-B4E7-FB64EB91E791</key>
		<dict>
			<key>note</key>
			<string>Start project task</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>53C8FEA0-BA4E-47E1-AE2D-2FFFD6247AC1</key>
		<dict>
			<key>note</key>
			<string>List today's timers</string>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>5C9D71E5-5317-4C7C-BF5A-C6208E2200D1</key>
		<dict>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>66B87F74-D220-42E2-ACD4-34829FE9910B</key>
		<dict>
			<key>note</key>
			<string>List today's timers</string>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>8081AC7B-0B05-4143-80E4-BAEB6ADDCBE7</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>8C54B474-C735-4821-AD9F-4A05DB67488A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Store account id</string>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>A19C7560-4E10-4266-9C51-ED0FD18756CA</key>
		<dict>
			<key>note</key>
			<string>List projects</string>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>A26EEE56-3E2C-4CD3-BF0F-4CE2525CF909</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>B5EAFF1F-8776-4F11-AE21-238AC9B91C8D</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
		<key>BBE0C5A3-5BBE-4AD5-B1AB-74E31B243A6F</key>
		<dict>
			<key>note</key>
			<string>Update task</string>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>BC08FC7F-F5A6-4644-8D5C-84A03EAEFD09</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>DA7C946A-EDF1-4144-8039-F20AF8414652</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>E86AC480-AA7B-448C-AD5F-955BFF35D819</key>
		<dict>
			<key>note</key>
			<string>Type 'hn'</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>E8BD4C0F-6FE1-4808-87EC-951DB65A6F0B</key>
		<dict>
			<key>note</key>
			<string>List project tasks</string>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>FBF5E782-D12B-4359-A4EF-83F6217D9394</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Store token</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
